.container {
    background-color: bisque;
    width: 80%; 
    height: auto;
    margin: 0 auto; 
    overflow: hidden; 
    padding: 10px;
}

.right-block {
    float: right;
    width: 15%; 
    border: solid black 1px;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box; 
}

.left-block, .block-right {
    float: left;
    width: 15%;
    border: solid black 1px;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
}

.two-blocks {
    float: right;
    width: 150px;
    height: 70px;
    margin: 3px 3px 3px 3px;
}

.small-block {
    width: 95%;
    height: 40%;
    border: solid black 1px;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
    margin: 5px;

}
.block-right {
    float: right;
    width: 150px;
    height: 65px;
    border: solid black 1px;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
    margin: 5px;
}

.central-container {
    width: 300px;
    height: 100%;
    margin: auto;
}

.block-centr-left {
    width: 140px;
    height: 70px;
    float: left;
    margin: 3px 3px 3px 3px;
    border: 1px solid black;
    border-radius: 5px;
}

.two-blocks-centr {
    width: 140px;
    height: 70px;
    float: right;
    margin: 3px 3px 3px 3px;
}

.small-block-centr {
    width: 95%;
    height: 42%;
    margin-bottom: 3px;
    border: 1px solid black;
    border-radius: 5px;;   
}